.wrapper__main_diagram {
  @include flex($d: column, $a-items: center);
  margin: $section_margin;
  @media screen and (max-width: $small) {
    margin: $section_margin-small;
  }
  h3 {
    @include poppins($fw: 500, $fz: 4.8rem, $lh: 1.5);
    text-align: center;
    text-transform: capitalize;
    color: #212121;
    @media screen and (max-width: $large) {
      @include poppins($fw: 500, $fz: 3rem, $lh: 1.3);
    }
  }
  .wrapper__main_diagram_content {
    @include flex($j-content: space-around);
    margin-top: 2em;
    @media screen and (max-width: $midsize) {
      @include flex($d: column, $j-content: space-around, $a-items: center);
    }
    .wrapper__main_diagram_content_block {
      @include flex($d: column, $a-items: center);
      @media screen and (max-width: $midsize) {
        width: 50%;
      }
      @include leaf-container($p: 1em, $bgc: #ffffff, $r: 2em);
      h1 {
        @include google-sans($fw: 700, $fz: 5rem, $lh: 1.2);
        color: #212121;
        @media screen and (max-width: $large) {
          @include google-sans($fw: 700, $fz: 3rem, $lh: 1.2);
        }
        @media screen and (max-width: $medium) {
          @include google-sans($fw: 700, $fz: 2rem, $lh: 1.2);
        }
      }
      p {
        @include google-sans($fw: 700, $fz: 1.8rem, $lh: 1.6);
        color: #646464;
        text-transform: capitalize;
        text-align: center;
        @media screen and (max-width: $medium) {
          @include google-sans($fw: 700, $fz: 1.3rem, $lh: 1.6);
        }
      }
    }
    .wrapper__main_diagram_content_connector {
      @include flex();
      img {
        max-width: 100%;
      }
      @media screen and (max-width: $midsize) {
        height: 2.2em;
        border: 2px solid #e0e0e0;
        z-index: -1;
        img {
          display: none;
        }
      }
    }
  }
}
