.wrapper {
  display: none;
  flex-direction: column;
  justify-content: center;
  margin: 2em 8em 0;
  @media screen and (max-width: $medium) {
    margin: 2em 4em 0;
  }
  @media screen and (max-width: $small) {
    margin: 2em 2em 0;
  }
  @media screen and (max-width: $extra-small) {
    margin: 2em 1em 0;
  }
  .wrapper__main {
    @include flex($d: column, $a-items: unset);
    margin-top: 0.5em;
  }
}
